<!DOCTYPE html>
<html>
<head>
    <title>Inventory System</title>
    <style>
        body {
            font-family: Arial;
            margin: 40px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
	    border : 5px solid green;
	}
        th, td {
            border: 1px solid #ccc;
            padding: 10px;
        }

        a {
            text-decoration: none;
            padding: 5px 10px;
            background: #007bff;
            color: white;
            border-radius: 4px;
        }
    </style>
</head>
<body>

<h1>Inventory Management System</h1>

{% block content %}
{% endblock %}

</body>
</html>
